.form-control{
  margin-top: 200px;
}


.container {
  display: inline-flex;
  margin: 20px;
  flex-flow: column;
}

.sidebar{
  float: left;
  width: 100px;
  background: blue;
  min-height: 1000px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
}

#courseimg {
  height: 200px;
  width: 200px;
}


img {
  display: flex;
  flex-direction: row;
}