.form-control{
  margin-top: 200px;
}


.container {
  display: inline-flex;
  margin: 20px;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
}


.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  width: 500px;
}

#courseimg {
  height: 200px;
  width: 200px;
}

.css-yk16xz-control, .css-1pahdxg-control, .css-26l3qy-menu{
  width: 500px;
}

.css-26l3qy-menu{
  width: 500px;
}

.App{
  display: flex;
  align-content: center;
  flex-flow: column;
}

#header{
  text-align: center;
  margin: 30px;
}

p {
  text-align: center;
}

.btn.btn-primary{
  margin: 20px;
}

.form-group{
  margin: 20px;
  height:
}

#formBasicEmail, #formBasicPassword{
  margin-top: 30px;
}

